<div class="todo">
  <div class="panel panel-default">
    <div class="container">
      <div class="panel-body">
        <h1>Add New To-Do!</h1>
<form action="/todo" method="post" accept-charset="utf-8">
	<p>Title: <input type="text" name="todo[title]" value="" id="todo[title]" /></p>
	<p>Description:<br><textarea name="todo[description]" rows="3" cols="40"></textarea></p>
	<p><input type="submit" value="Add To-Do!" class="btn btn-success"/></p>
</form>

</div>
</div>
</div>
</div>
